<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="main.css" />
    <title>Quiz Game</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Quiz Game</h1></a>
    </div>
    <section>
      <ul>
        <li>총 10문제</li>
        <li>한 문제 당 30초의 시간제한</li>
        <li class="btn"><a href="quiz">퀴즈 시작</a></li>
      </ul>
    </section>
  </body>
</html>
