<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="quiz.css" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <title>Quiz Game</title>
  </head>

  <body>
    <div class="header">
      <a href="/"><h1>Quiz Game</h1></a>
    </div>
    <div class="quiz-wrapper">
      <span class="timer xi-alarm"></span>
      <div class="quiz-box">
        <ul class="quiz-list clear"></ul>
        <div class="result">
          <p class="right"></p>
          <p class="wrong"></p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
